.manage-head {
    display: table-header-group;
    border-bottom: 1px solid lightgray;
}

.manage-head .item {
    height: 80px;
    display: table-cell;
    text-align: center;
    font-weight: normal;
    vertical-align: middle;
    color: #333;
    font-size: 16px;
}

@media screen and (max-width: 450px) {
    .manage-head .hidden {
        display: none;
    }
}