.manage-row {
    display: table-row;
    height: 80px;
    border-bottom: 1px solid lightgray;
}

.manage-row .item {
    max-height: 80px;
    margin: 20px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #555;
    font-size: 14px;
}

.manage-row .hidden-item {
    max-height: 80px;
    margin: 20px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #555;
    font-size: 14px;
}

@media screen and (max-width: 450px) {
    .manage-row .hidden {
        display: none;
    }
}